.sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.sign-up-page .logo {
  margin-bottom: 30px;
}

.sign-up-page .logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.sign-up-page .title {
  color: #0c145a;
  text-align: center;
  margin-bottom: 50px;
}

.sign-up-page .title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 10px;
}

.sign-up-page .title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0px;
}

.sign-up-page .form {
  margin-bottom: 40px;
}

.sign-up-page .form label {
  color: #0c145a;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.sign-up-page .form input {
  display: block;
  width: 420px;
  padding: 12px 24px;
  margin-bottom: 30px;
  color: #333;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  border: 1px solid #0c145a;
  border-radius: 25px;
}

.sign-up-page .form input::placeholder {
  color: #ccd0dd;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.sign-up-page .buttons .btn-continue {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  width: 420px;
  border: none;
  border-radius: 25px;
  background-color: #4d17e2;
  padding: 14px 0;
  box-shadow: 6px 6px 1px #333;
  margin-bottom: 30px;
  transition: all 0.4s ease-in;
}

.sign-up-page .buttons .btn-sign-in {
  color: #333;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  width: 420px;
  border: none;
  border-radius: 25px;
  background-color: #e7eaf5;
  padding: 14px 0;
  box-shadow: 6px 6px 1px #333;
  transition: all 0.4s ease-in;
}

.sign-up-page .buttons .btn-continue:hover,
.sign-up-page .buttons .btn-sign-in:hover {
  transform: translate(6px, 6px);
  transition: all 0.4s ease-out;
  box-shadow: none;
}

.sign-up-page .buttons .btn-continue:hover {
  background-color: #695de9;
}

.sign-up-page .buttons .btn-sign-in:hover {
  background-color: #f3f3fd;
}
