@import '../../../../styles/_colors.scss';

.breadcrumb {
    background-color: $cardColor;
    padding: 40px 100px;

    .breadcrumb-item {
        a {
            color: $blackColor;
            font-weight: 300;
            text-decoration: none;
        }
    }

    .active {
        font-weight: 700;
    }

}