.detail-content {
  background-color: #f9faff;
  border-radius: 24px;
  padding: 30px 60px;
  box-shadow: 12px 12px 1px #e7eaf5;
}

.detail-content-title h2 {
  color: #333;
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 20px;
}

.detail-content-price p {
  color: #22c58b;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}

.detail-content-category p {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.detail-content-grade p {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.detail-content-about .detail-content-about-title {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.detail-content-about .detail-content-about-description {
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.detail-buttons-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.detail-buttons-container .btn-cart {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  background-color: #f3f3fd;
  border: none;
  border-radius: 8px;
  width: 200px;
  padding: 12px 0px;
  box-shadow: 6px 6px 1px #333;
  margin-right: 20px;
  transition: all 0.4s;
}

.detail-buttons-container .btn-buy {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #4d17e2;
  border: none;
  border-radius: 8px;
  width: 200px;
  padding: 12px 0px;
  box-shadow: 6px 6px 1px #333;
  margin-left: 20px;
  transition: all 0.4s;
}

.detail-buttons-container .btn-cart:hover {
  background-color: #f3f3fd;
  box-shadow: none;
  transform: translate(6px, 6px);
  animation: ease-out;
  transition: all 0.4s;
}

.detail-buttons-container .btn-buy:hover {
  background-color: #695de9;
  box-shadow: none;
  transform: translate(6px, 6px);
  animation: ease-out;
  transition: all 0.4s;
}

.detail-content-quantity .quantity-action {
  margin-right: 12px;
  border-radius: 12px;
  color: #333;
  background-color: #e7eaf5;
}

.detail-content-quantity .quantity-action .icon {
  width: 36px;
}

.detail-content-quantity .quantity-action .icon:hover {
  cursor: pointer;
  background-color: #f3f3fd;
}

.detail-content-quantity .quantity-action p {
  margin-bottom: 0;
  text-align: center;
  width: 36px;
  font-size: 18px;
  color: #333;
  background-color: #fff;
}
