.recommendation {
  padding: 100px 60px;
  background-color: #f9faff;
}

.recommendation-title {
  color: #000;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 30px;
}

.recommendation-item {
  width: fit-content;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 20px;
}

.recommendation-item:hover {
  cursor: pointer;
}

.recommendation-item-thumbnail img {
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 30px;
}

.recommendation-item-name p {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 8px;
}

.recommendation-item-price p {
  color: #000;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
}
