.stats {
  margin-bottom: 100px;
}

.stat-title {
  color: #0c145a;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.stat-label {
  color: #7e8cac;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
