$primaryColor: #4d17e2;
$primaryColorHover: #695de9;
$secondaryColor: #e7eaf5;
$secondaryColorHover: #f3f3fd;
$blackColor: #333333;
$whiteColor: #ffffff;
$greyColor: #7e8cac;
$darkBlueColor: #0c145a;
$primaryBGColor: #ffffff;
$secondaryBGColor: #b7b0f4;
$footerBGColor: #161a2c;
$primaryGreenColor: #22c58b;
$secondaryGreenColor: #139f6d;
$primaryPinkColor: #fc5e84;
$secondaryPinkColor: #e4345f;
$primaryOrangeColor: #F79E1B;
$secondaryOrangeColor: #FFC107;
$cardColor: #f9faff;
$cardColorBorder: #f3f7fe;