.thumbnail {
  margin-top: 20px;
  margin-bottom: 100px;
}

.thumbnail .thumbnail-master img {
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 30px;
}

.thumbnail .thumbnail-gallery img {
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.thumbnail .thumbnail-gallery img:hover {
  cursor: pointer;
}

.thumbnail .active img {
  box-shadow: 4px 4px 1px #4d17e2;
}
