.featured {
  margin-bottom: 100px;
}

.featured-title h2 {
  color: #0c145a;
  font-weight: 700;
  font-size: 2rem;
  line-height: 48px;
  margin-bottom: 30px;
}

.featured-item {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 1.625rem;
}

.featured-item:hover {
  cursor: pointer;
  transition: all 0.4s;
  border: 6px solid #2b2467;
}

.featured-item-thumbnail img {
  object-fit: cover;
  transition: all 0.4s;
  border-radius: 1.625rem;
}

.featured-item:hover .featured-item-thumbnail {
  overflow: hidden;
  border-radius: 1.625rem;
  transition: all 0.4s;
  margin-top: 8px;
  margin-bottom: 8px;
}

.featured-item:hover .featured-item-thumbnail img {
  transition: all 0.4s;
  filter: blur(40px);
  transition: all 0.4s;
}

.featured-item-cover {
  position: absolute;
  opacity: 0;
  bottom: 0;
  margin-right: 20px;
  transition: all 0.4s;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.featured-item:hover .featured-item-cover {
  opacity: 1;
}

.featured-item-content-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0px;
}

.featured-item-content-category {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
