.detail-content {
  background-color: #fff;
  border-radius: 24px;
  padding: 30px 60px;
  box-shadow: 12px 12px 1px #e7eaf5;
}

.detail-content-title h2 {
  color: #333;
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 20px;
}

.detail-content-price p {
  color: #22c58b;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}

.detail-content-category p {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.detail-content-grade p {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.detail-content-about .detail-content-about-title {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.detail-content-about .detail-content-about-description {
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
