.products-page-container {
  margin: 0 30px 30px 60px;
}

.products-page-container .title {
  color: #0c145a;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-page-container .products-data-wrapper {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.075);
}

.products-page-container .product-thumbnail {
  display: block;
  width: fit-content;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.products-page-container .product-thumbnail:last-child {
  margin-right: 0px;
}

.products-page-container .products-list-thumbnail {
  max-width: 180px;
  max-height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.products-page-container .btn-add-product {
  background-color: #4d17e2;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 16px;
  box-shadow: 6px 6px 1px #333;
  transition: all 0.4s;
}

.products-page-container .btn-add-product:hover {
  transform: translate(6px, 6px);
  box-shadow: none;
  transition: all 0.4s;
}

.products-page-container .btn-edit,
.products-page-container .btn-delete {
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 1px #333;
  transition: all 0.4s;
}

.products-page-container .btn-edit:hover,
.products-page-container .btn-delete:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
  transition: all 0.4s;
}

.products-page-container .btn-edit {
  background-color: #ffca2c;
}

.products-page-container .btn-delete {
  color: #fff;
}
