/* Container */
.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 70px;
    padding-left: 70px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1420px;
  }
}
/*  */
